@font-face {
  font-family: Avant;
  src: url(../fonts/avant.ttf); }
body {
  display: flex;
  font-family: Avant;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0;
  margin: 0;
  background: white; }

.container {
  display: grid;
  width: 80vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white; }
  .container .note {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    border-bottom: 5px solid #222;
    width: 100vw;
    height: 100vh; }
    .container .note .load_ng {
      width: 80px;
      height: 80px; }

.content {
  display: grid;
  width: inherit;
  height: fit-content;
  grid-template-columns: 1fr 10fr;
  grid-template-areas: "left right right" "left right right"; }

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px; }
  .top .menu-x {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px; }
  .top .title {
    margin: 0;
    padding: 0;
    text-transform: uppercase; }
  .top .par {
    margin: 10px;
    line-height: 1.6;
    font-family: Avant;
    color: #444;
    font-weight: bold; }
  .top .bigbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    width: 100%;
    height: 100vh; }
    .top .bigbox .smallbox:nth-child(even) {
      clip-path: polygon(50% 0%, 94% 6%, 100% 60%, 96% 97%, 6% 93%, 0% 60%, 1% 3%); }
    .top .bigbox .smallbox:nth-child(odd) {
      clip-path: polygon(50% 0%, 94% 6%, 100% 60%, 85% 94%, 9% 95%, 0% 60%, 4% 8%); }
    .top .bigbox .logos {
      width: 100%;
      height: 500px; }
    .top .bigbox .description {
      padding: 10px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: center; }

.header {
  background: #2d3436;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: inherit;
  clip-path: polygon(0% 5%, 100% 30%, 100% 900%, 5% 100%); }
  .header .topu {
    list-style: none;
    display: flex;
    flex-direction: row; }
    .header .topu #opti-a, .header .topu #opti-b, .header .topu #opti-c, .header .topu #opti-d {
      color: white;
      padding: 0px 10px 0px 10px;
      letter-spacing: 1.4px;
      font-weight: bolder; }
  .header .logo {
    width: 120px;
    height: 120px;
    background: url("/src/images/aoelogo.png");
    background-size: cover;
    background-repeat: no-repeat; }
  .header .tag {
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: bold;
    color: #fff;
    margin-left: 40px; }

.left {
  grid-area: left;
  height: 100vh; }

.right {
  grid-area: right;
  height: 100vh;
  padding: 20px; }

.menu {
  margin-top: 50px;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  padding: 10px 0px 10px 0px; }
  .menu .genre-tag {
    letter-spacing: 2px;
    margin-left: 10px;
    margin-bottom: 0;
    padding-bottom: 0; }
  .menu .options {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.8px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    background: white;
    border: none;
    border-bottom: 1px solid #000; }
    .menu .options .options-actual {
      line-height: 1.4; }
      .menu .options .options-actual:hover {
        color: #e17055; }
      .menu .options .options-actual a {
        color: #2d3436;
        text-decoration: none;
        text-align: left;
        font-weight: 100;
        letter-spacing: 1.8px; }
        .menu .options .options-actual a:hover {
          color: red; }

.foot {
  position: fixed;
  bottom: 0;
  text-shadow: 2px 4px 10px #fff;
  font-weight: bold;
  width: 68vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: orangered;
  letter-spacing: 1.4px;
  justify-content: center; }

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0; }
  .footer .rights {
    position: fixed;
    bottom: 0;
    background: #2d3436;
    width: 100vw;
    padding: 20px 0 0 0;
    letter-spacing: 2px;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; }

.next, .prev {
  box-shadow: 2px 2px 20px #fff;
  background: orangered;
  clip-path: polygon(16% 0, 100% 0%, 80% 100%, 0% 100%); }

.next {
  position: fixed;
  right: 1%;
  bottom: 4%;
  padding: 10px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  width: 120px;
  text-align: center; }

.prev {
  text-align: center;
  position: fixed;
  width: 120px;
  left: 10%;
  bottom: 4%;
  padding: 10px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  clip-path: polygon(11% 0, 75% 0, 93% 100%, 22% 100%); }

a {
  text-decoration: none;
  letter-spacing: 1.4px;
  color: #111; }

.biggy {
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-rows: 2fr 2fr 12fr 10fr;
  grid-template-areas: "pic log log" "desc desc desc" "video video video" "more more more";
  width: inherit;
  height: fit-content; }
  .biggy .logox {
    width: 100px;
    height: 100px;
    margin: 5px;
    grid-area: pic; }
  .biggy .leftinfo {
    grid-area: log; }
  .biggy .name {
    padding-top: 10px; }
  .biggy .video {
    grid-area: video;
    background: #333; }
  .biggy .biggy-description {
    grid-area: desc; }
  .biggy p {
    padding: 0;
    margin: 0; }

.more {
  margin-top: 20px;
  grid-area: more;
  width: inherit;
  height: fit-content; }
  .more .production .p-tag {
    width: inherit;
    padding: 20px;
    background: #dfe6e9;
    color: #444;
    font-weight: bolder;
    letter-spacing: 1.4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%); }
  .more .production .chars {
    margin: 10px; }
  .more .production .chars-actual {
    margin-left: 50px;
    color: #6c5ce7;
    font-weight: bold; }

.title {
  border-bottom: 5px solid #000; }

.tag {
  text-indent: 20px; }

.mo {
  color: red;
  font-weight: bolder;
  text-shadow: 10px 1px 5px #fff;
  background: white;
  text-decoration: overline; }

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px 0px 20px;
  justify-content: space-between; }
  .header .input {
    border: none;
    background: none;
    border-bottom: 1px solid #fff;
    color: white;
    font-size: 15px;
    padding: 10px; }

#home {
  color: #fff; }

.se {
  color: white;
  font-weight: bolder;
  text-shadow: 10px 1px 5px #fff;
  text-decoration: underline;
  background: darkorange; }

.notice-1 {
  position: absolute;
  color: white;
  font-size: 30px;
  font-weight: bold;
  top: 50%;
  left: 40%; }

/*# sourceMappingURL=website.css.map */
